body {
  margin: 0;
}

p {
  color: white;
  text-align: justify;
  font-size: 11pt;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Bold';
}

/*title*/

#main .container-fluid {

  padding: 1% 2% 6% 2%;
}


.titulo-quem-somos {
  color: white;
  text-align: center;
}



.titulo-service {
  text-align: center;
  padding-bottom: 3%;
  color: white;
  font-family: 'sans-serif, Montserrat-Black';
}

#galeria {
  background-color: white;
  padding: 5%;
}

.img-fluid {
  border-radius: 10%;
}




.paragrafo-quemsomos {
  color: white;
  text-align: left;
  font-size: 12pt;
  margin-left: 10px;
}

.quemsomos-image {
  width: 95%;
  border-radius: 10%;

}

.img-logo {
  border-radius: 10%;
}

.img-service {
  width: 95%;
  border-radius: 10px;
}

/*watsap*/
.box {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
}

.img-wats {
  width: 50px;
}



#rodape {
  background-image: url("../img/ondas.png");
  height: 75px;
}


p {
  text-align: center;
  color: gray;
}



#title .container-fluid {

  padding: 1% 0%;
}

.navbar-nav>li>a {
  color: black;
  text-decoration: none;
  margin: 7px;
}


.navbar-nav>li:hover>a,
.navbar-nav>li.active>a {
  color: black;
}

.nav-item {
  margin-bottom: 10px;

}



/*fim title*/


/*quem somos*/

#quem-somos {
  background-image: url('../img/familia-feliz.jpeg');
  margin-bottom: 10%;
  margin-top: 3%;
  background-repeat: no-repeat;

}

#quem-somos .container-fluid {
  background-image: url('../img/fundo.png');
  height: 450px;
}


.quemsomos-box {
  text-align: center;
}

.texto-sobre {
  font-family: 'Montserrat-Bold';
  text-align: justify;
  color: black;
}

/*fim quem somos*/


/*atuacao*/
.departamento-image {
  width: 35%;
  margin-bottom: 4%;
  margin-top: 4%;
}

#atuacao {
  background-color: #05082b;
}

#atuacao .container-fluid {
  color: rgb(236, 213, 38);
  text-align: center;
  padding: 3% 5%;
}

.departamento_box {
  padding: 5%;
}

/*fim atuacao*/


/*contato*/
#contato {
  text-align: center;
  padding: 5% 5%;
}

.title-contato {
  padding-bottom: 3%;
}

.img-contato {
  width: 30%;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}





/*fim contato*/



#footer .container-fluid {
  text-align: center;

}



#copyright {
  padding: 5%;
  text-align: center;
  background-color: #0099ff;

}

.copyright {
  color: white;
}

.contato-footer {
  font-size: 9pt;
  text-align: center;
  color: rgb(240, 240, 131);
}



/*box watsapp*/
.box {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
}

.img-wats {
  width: 50px;
}




#service {
  padding: 5% 5% 10% 5%;
  background-color: #0099ff;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: left;
}

#service .card {
  border: 0px;
  padding: 3px;
  align-items: center;
}

#service .card-img-top {
  width: 50%;
}






/*csss slide */



.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }


/*HEADER*/
.main_header          { background:#ffffff; border-bottom:1px #f4f4f4 solid; z-index:1; padding: 0.5em 0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed            { display:block; position:fixed; z-index:9;  }
.main_header_logo { text-align:center; margin:auto; float:none; width:138px; }
.main_header_logo img { height:69px; }

/*Seu Código*/
.section-seu-codigo          { padding:10px 0px; background-color:#f4f4f4; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; background:#fff; box-shadow: 1px 0px 1.2px 0px #e3e3e3; border-radius:3px; padding:1em; }

/*Slider*/
.slider {

  width: 100%;
  height: 100%;
  position: relative;
  background: #242424;
  overflow: hidden;

}

.slider img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;

}

.slider .seta {

  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: auto;
  height: 1.5rem;
  font-size: 2.5em;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;

}

.slider .seta:hover {

  cursor: pointer;
  opacity: 1;

}

.slider .arrow-left {

  left: 2%;

}

.slider .arrow-right {

  right: 2%;

}

.slider .paginacao {

  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  z-index: 5;

}

.slider .paginacao .botao {

	width: auto;
	height: auto;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	color: #fff;

}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/*Slider*/

/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
